.movie_row {

  margin-bottom: 30px;

  & h2 {
    margin: 0 0 0 30px;
  }

  &--listarea {
    overflow-x: hidden;
    padding-left: 30px;
  }

  &--list {
   transition: all .5s ease;
  }

  &--item {
    display: inline-block;
    cursor: pointer;
    width: 150px;

    img {
      width: 100%;
      transform: scale(.9);
      transition: transform .4s ease;
    }

    img:hover {
      transform: scale(1);
    }
  }

  &--left,
  &--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease;
  }

  &:hover &--left,
  &:hover &--right {
    opacity: 1;
  }

  &--left {
    left: 0;

  }

  &--right {

    right: 0;
  }

  @media (max-width: 700px) {
    &--left,
    &--right {
      opacity: 1;
    }
  }
}