@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  --main-color: #0b0b0b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  background-color: var(--main-color);
  font-family: inherit;
  box-sizing: inherit;
  color: #FFF;
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.page {
  section.lists{
    margin-top: -150px;
  }
}

footer{
  span{
    color: red;
  }
  font-weight: 100;
  letter-spacing: .1px;
  margin: 50px 0 ;
  text-align: center;
}
.loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}